#page-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#login-form {
  font-size: 2rem;
  margin-block-start: 1rem;
	display: flex;
	flex-direction: column;
	gap: 10px;
  inline-size: 75%;
}

#login-form div {
	display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    padding: 1.5rem 0.5rem;
    font-size: 2rem;
  }
}

#buttons {
  display: flex;
  gap: 10px;
}

#buttons button {
  font-size: 2rem;
  flex-grow: 1;
  inline-size: 50%;
  padding: 1.5rem 0.5rem;
}

input {
  inline-size: 70%;
}

img #logo {
  inline-size: 25%;
}