name: NodeJS Scan

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]
  schedule:
    - cron: "0 0 1 * *"

permissions: 
  contents: read # for actions/checkout to fetch code
  security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
  actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
  
jobs:
  njsscan:
    name: njsscan code scanning
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: nodejsscan scan
        id: njsscan
        uses: ajinabraham/njsscan-action@v9
        with:
          args: '. --sarif --output njsscan-results.sarif || true'

      - name: Upload analysis results to GitHub 
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: njsscan-results.sarif
          wait-for-processing: true